body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    text-align: center;
    padding: 30px;
    border: 5px solid #ff69b4;
    border-radius: 15px;
    background-color: #ffb6c1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: background-color 0.4s, border-color 0.4s;
}

p {
    font-size: 24px;
    color: #fff;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #ff69b4;
    border: 2px solid #fff;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s, border-color 0.4s;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    width: 150px; /* Adjust the width of the logo */
    height: 150px; /* Set height equal to width for perfect circle */
    border-radius: 50%; /* Makes the logo circular */
    object-fit: cover; /* Ensures the logo fills the circular shape */
}

button:hover {
    background-color: #ff1493;
    border-color: #ff69b4;
}

button:active {
    background-color: #db7093;
    border-color: #c71585;
}
